#about {
  width: 100%;
  min-height: var(--vh, 100vh);
  background-color: var(--sub-color);
  border-bottom: 1px solid rgba(79, 80, 62, 0.1);
}

.about_content {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  gap: clamp(30px, 9.3vw, 150px);
}

/*  right content */
.right_content {
  display: flex;
  flex-direction: column;
  max-width: 402px;
  justify-content: space-between;
  width: 100%;
}

.about_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* skills */
.skills {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.skills h3,
.about_me h3,
.education h3,
.work_experience h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
}

.skills ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.skills ul li img {
  width: auto;
  height: 60px;
  object-fit: contain;
}

/* left content */
.left_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-color);
  gap: 20px;
}

.about_me {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about_me p {
  font-size: 16px;
}

.more {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 16px;
  color: var(--main-color);
  align-self: flex-start;
  transition: ease 0.3s;
}

.more:hover {
  gap: 10px;
  opacity: 0.8;
}

.more svg {
  width: 18px;
  height: 18px;
}

.education h3,
.work_experience h3 {
  margin-bottom: 15px;
}

.education ul,
.work_experience ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education ul li,
.work_experience ul li {
  font-size: 16px;
}

/* About mediaQuery */
@media (max-width: 1200px) {
  .skills h3,
  .about_me h3,
  .education h3,
  .work_experience h3 {
    font-size: 25px;
  }

  .skills {
    gap: 35px;
  }
}

@media (max-width: 1024px) {
  .about_me p,
  .more,
  .education ul li,
  .work_experience ul li {
    font-size: 14px;
  }

  .skills h3,
  .about_me h3,
  .education h3,
  .work_experience h3 {
    font-size: 20px;
  }

  .skills ul li img {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .about_content {
    flex-direction: column;
  }

  .right_content {
    max-width: 100%;
  }

  .about_image img {
    max-width: 402px;
  }

  .about_image {
    text-align: center;
  }

  .skills ul {
    gap: 35px;
    justify-content: initial;
  }
}

@media (max-width: 480px) {
  .skills ul li img {
    height: 45px;
  }
}

@media (max-width: 360px) {
  .skills ul li img {
    height: 40px;
  }
}

@media (max-width: 320px) {
}

@media (hover: none) {
  .more {
    transition: none;
  }
  .more:hover {
    gap: initial;
    opacity: initial;
  }
}
