#contact {
  width: 100%;
  height: 100vh;
  background-color: var(--sub-color);
}

.contact_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 120px;
  color: var(--main-color);
}

.contact_wrap h2 {
  font-size: 100px;
  margin-bottom: 70px;
}

.contact_subt {
  font-size: 30px;
  margin-bottom: 30px;
}

.contact_email {
  font-size: 80px;
  margin-bottom: 40px;
  letter-spacing: 5px;
}

.contact_desc {
  font-size: 25px;
  line-height: 1.4;
  margin-bottom: 80px;
}

.contact_btn {
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  display: inline-flex;
  width: auto !important;
  max-width: fit-content;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact_btn:hover {
  gap: 12px;
  opacity: 0.8;
}
