#contact {
  height: var(--vh, 100vh);
  background-color: var(--sub-color);
  display: flex;
  align-items: center;
}

.contact_wrap {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  color: var(--main-color);
  flex: 1;
}

.contact_wrap h2 {
  font-size: clamp(40px, 8vw, 100px);
  margin-bottom: 70px;
}

.contact_subt {
  font-size: 30px;
  margin-bottom: 30px;
}

.contact_email {
  margin-bottom: 40px;
  display: flex;
  gap: 4px;
}

.contact_email span {
  font-size: clamp(23px, 6vw, 80px);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
  transform: translateY(30px);
}

.contact_email span.up {
  opacity: 1;
  transform: none;
}

.contact_desc {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 80px;
}

.contact_btn {
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  display: inline-flex;
  width: auto !important;
  max-width: fit-content;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact_btn:hover {
  transform: translateX(4px);
  opacity: 0.8;
}

/* Contact mediaQuery */
@media (max-width: 1440px) {
  .contact_wrap {
    padding-left: 100px;
  }
}

@media (max-width: 1300px) {
  .contact_wrap {
    padding-left: 80px;
  }
}

@media (max-width: 1200px) {
  .contact_wrap {
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .contact_subt {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .contact_desc {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .contact_btn {
    font-size: 20px;
  }

  .contact_btn svg {
    width: 24px;
    height: 24px;
  }

  .contact_email {
    gap: 3px;
  }

  .contact_wrap h2 {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .contact_subt {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .contact_email {
    gap: 2px;
    margin-bottom: 20px;
  }

  .contact_desc {
    font-size: 15px;
    margin-bottom: 50px;
  }

  .contact_btn {
    font-size: 18px;
  }

  .contact_btn svg {
    width: 20px;
    height: 20px;
  }

  .contact_wrap h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .contact_wrap {
    padding-left: 30px;
  }

  .contact_desc {
    margin-bottom: 40px;
  }

  .contact_subt {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .contact_wrap {
    padding-left: 20px;
  }

  .contact_subt {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .contact_desc {
    font-size: 13px;
  }

  .contact_email {
    gap: 1px;
    margin-bottom: 15px;
  }

  .contact_btn {
    font-size: 16px;
  }

  .contact_btn svg {
    width: 18px;
    height: 18px;
  }
}

@media (hover: none) {
  .contact_btn:hover {
    transform: none;
    opacity: 1;
  }
}
