#floatingButtons {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: ease opacity 0.1s;
}

.action #floatingButtons {
  opacity: 1;
  pointer-events: auto;
}

.floatingBtn {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #5a5b47 0%, #8f8a6d 100%);
  box-shadow: 0 4px 12px rgba(79, 80, 62, 0.35),
    0 2px 4px rgba(143, 138, 109, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.floatingBtn:hover {
  box-shadow: 0 6px 18px rgba(79, 80, 62, 0.45),
    0 3px 8px rgba(143, 138, 109, 0.35);
}

.chatBtn svg {
  transform: scaleX(-1);
}
