header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.header_wrap {
  height: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo a {
  font-family: 'Libre Baskerville', serif;
  color: var(--sub-color);
  font-weight: bold;
  font-size: 25px;
  opacity: 0;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 10px 50px;
  background-color: var(--main-color);
}

.header_nav a {
  display: block;
  color: var(--sub-color);
  font-size: 20px;
  transition: ease color 0.2s;
}

.header_nav li a:hover {
  color: var(--hover-color);
}
