header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  transition: backgruond-color ease 0.1s, backdrop-filter 0.1s ease;
}

.action header {
  background-color: rgb(79, 80, 62, 0.6);
  backdrop-filter: blur(5px);
}

.header_wrap {
  height: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo a {
  font-family: 'Libre Baskerville', serif;
  color: var(--sub-color);
  font-weight: bold;
  font-size: 25px;
  opacity: 0;
  pointer-events: none;
  transition: ease opacity 0.1s;
}

.action .header_logo a {
  opacity: 1;
  pointer-events: auto;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 10px 50px;
  background-color: var(--main-color);
}

.action .header_nav {
  background-color: transparent;
}

.header_nav a {
  display: block;
  color: var(--sub-color);
  font-size: 20px;
  transition: ease color 0.1s;
  letter-spacing: 1px;
}

.header_nav li a:hover {
  color: var(--hover-color);
}
