header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  transition: backdrop-filter 0.1s ease, top 0.1s ease;
}

.action header {
  background-color: rgba(40, 41, 31, 0.55);
  backdrop-filter: blur(6px);
}

.header_wrap {
  height: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo button {
  display: block;
  font-family: 'Libre Baskerville', serif;
  color: var(--sub-color);
  font-weight: bold;
  font-size: 25px;
  opacity: 0;
  pointer-events: none;
  transition: ease opacity 0.1s;
}

.action .header_logo button {
  opacity: 1;
  pointer-events: auto;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 10px 50px;
  background-color: var(--main-color);
}

.action .header_nav {
  background-color: transparent;
}

.header_nav li {
  cursor: pointer;
  display: block;
  color: var(--sub-color);
  font-size: 20px;
  transition: ease color 0.1s;
  letter-spacing: 1px;
}

.header_nav li:hover {
  color: var(--hover-color);
}

/* header mediaQuery */
@media (max-width: 1200px) {
  .header_wrap {
    padding: 0 40px;
    margin-right: 20px;
  }

  .header_nav li {
    font-size: 18px;
  }

  .header_logo button {
    font-size: 23px;
  }
}

@media (max-width: 1024px) {
  header {
    height: 70px;
  }

  .header_wrap {
    padding: 0 30px;
  }

  .header_logo button {
    font-size: 20px;
  }

  .header_nav {
    gap: 30px;
    padding: 10px 30px;
  }

  .header_nav li {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .header_nav {
    display: none;
  }

  .header_wrap {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .header_logo button {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .header_wrap {
    padding: 0 20px;
  }

  .header_logo button {
    font-size: 16px;
  }
}
