#main {
  width: 100%;
  height: var(--vh, 100vh);
  background-color: var(--main-color);
  position: relative;
}

.main_wrap {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  position: absolute;
  border: 1px solid var(--sub-color);
  margin: auto;
  inset: 0;
}

.main_line {
  position: absolute;
  width: 20px;
  height: 20px;
}

.lt,
.lb {
  left: -20px;
  border-right: 1px solid var(--sub-color);
}
.rt,
.rb {
  right: -20px;
  border-left: 1px solid var(--sub-color);
}
.lt,
.rt {
  top: -20px;
  border-bottom: 1px solid var(--sub-color);
}
.lb,
.rb {
  bottom: -20px;
  border-top: 1px solid var(--sub-color);
}

.main_textbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 80px 50px;
  color: var(--sub-color);
}

.main_textbox h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: clamp(30px, 9.3vw, 130px);
  font-weight: bold;
  white-space: nowrap;
}

.subtext {
  text-align: right;
  font-size: 16px;
  font-weight: normal;
}

.mobile_br {
  display: none;
}

/* main mediaQuery */
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .main_wrap {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
  }

  .main_textbox {
    padding: 70px 60px 50px;
  }
}

@media (max-width: 768px) {
  #main {
    height: 100%;
    min-height: var(--vh, 100vh);
  }

  .main_textbox {
    padding: 60px 40px;
  }
}

@media (max-width: 600px) {
  .main_textbox {
    padding: 60px 30px 40px;
  }

  .subtext {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .main_wrap {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
  }

  .main_line {
    width: 15px;
    height: 15px;
  }

  .lt,
  .rt {
    top: -15px;
  }

  .lb,
  .rb {
    bottom: -15px;
  }

  .lt,
  .lb {
    left: -15px;
  }

  .rt,
  .rb {
    right: -15px;
  }

  .main_textbox {
    padding: 40px 20px;
  }

  .subtext {
    font-size: 12px;
    text-align: left;
  }

  .mobile_br {
    display: block;
  }
}

@media (max-width: 360px) {
  .main_wrap {
    width: calc(100% - 45px);
    height: calc(100% - 45px);
  }

  .main_textbox {
    padding: 30px 15px;
  }
}
