#main {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bgcolor);
  position: relative;
}

.main_wrap {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  position: absolute;
  border: 1px solid var(--sub-bgcolor);
  margin: auto;
  inset: 0;
}

.main_line {
  position: absolute;
  width: 20px;
  height: 20px;
}

.lt,
.lb {
  left: -20px;
  border-right: 1px solid var(--sub-bgcolor);
}
.rt,
.rb {
  right: -20px;
  border-left: 1px solid var(--sub-bgcolor);
}
.lt,
.rt {
  top: -20px;
  border-bottom: 1px solid var(--sub-bgcolor);
}
.lb,
.rb {
  bottom: -20px;
  border-top: 1px solid var(--sub-bgcolor);
}

.main_textbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 80px 50px;
  color: var(--sub-bgcolor);
}

.main_textbox h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: clamp(48px, 12vw, 130px);
  font-weight: bold;
}

.subtext {
  text-align: right;
  font-size: 16px;
  font-weight: normal;
}
