#project {
  width: 100%;
  background-color: var(--main-color);
  height: 100vh;
}

.project_wrap {
  height: 100%;
  padding: 80px 0 80px 120px;
}

.project_wrap > h3 {
  font-size: 40px;
  font-weight: bold;
  color: var(--sub-color);
  margin-bottom: 35px;
}

.card_wrapper {
  position: relative;
  width: 100%;
  min-height: 630px;
}

/* project 카드 공통 CSS */
.project_tcard,
.project_icard {
  width: 90%;
  height: 575px; /* 시각적 통일 */
  border-radius: 20px;
  box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.15);
  position: absolute;
  overflow: hidden;
  transition: all ease 0.5s;
  backface-visibility: hidden;
}

/* project 텍스트 카드 */
.project_tcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--sub-color);
  top: 0;
  left: 0;
  z-index: 3;
  transition: ease all 0.3s;
  color: var(--main-color);
  opacity: 1;
}

.card_wrapper.swapped .project_tcard {
  top: 45px;
  left: 35px;
  z-index: 2;
  opacity: 0.9;
}

.tcard_number {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tcard_number h3 {
  font-size: 60px;
  font-weight: bold;
}

.card_changebtn {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  gap: 3px;
  color: var(--main-color);
}

.card_wrapper.swapped .text_changeBtn {
  cursor: default;
  pointer-events: none;
}

.card_changebtn svg {
  transition: ease transform 0.3s;
}

.card_changebtn:hover svg {
  transform: rotate(90deg);
}

.tcard_title {
  font-size: 40px;
}

.main_detail {
  font-size: 16px;
  letter-spacing: 0.2px;
}

.sub_detail {
  display: flex;
  gap: 8px;
}

.sub_detail li {
  font-weight: bold;
  font-size: 16px;
}

.detail_viewbtn {
  position: relative;
  width: 100%;
}

.detail_viewbtn a {
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  line-height: 1;
  letter-spacing: 3px;
  overflow: hidden;
  transition: ease 0.3s;
}

.card_wrapper.swapped .detail_viewbtn a {
  cursor: default;
  pointer-events: none;
}

.detail_viewbtn a:hover {
  letter-spacing: 5px;
}

.detail_viewbtn a:before,
.detail_viewbtn a:after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
}

.detail_viewbtn a:before {
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 5px;
}

.detail_viewbtn a:after {
  right: -0;
  bottom: 10px;
  width: 5px;
  height: 100%;
  transform: rotate(-40deg);
  transform-origin: bottom right;
}

/* project 이미지 카드 */
.project_icard {
  top: 45px;
  left: 35px;
  z-index: 2;
  opacity: 1;
}

.card_wrapper.swapped .project_icard {
  top: 0;
  left: 0;
  z-index: 3;
}

.project_icardwrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.project_icardwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity ease 0.3s;
  opacity: 0.9;
  object-position: top;
}

.card_wrapper.swapped .project_icardwrap img {
  opacity: 1;
}

.img_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 7px;
  background-color: rgba(216, 212, 201, 0.6);
  border-radius: 5px;
  pointer-events: none;
  cursor: default;
}

.card_wrapper.swapped .img_btn {
  pointer-events: auto;
  cursor: pointer;
}
