/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 배경/폰트 설정 */
body {
  font-family: 'Outfit', 'Noto Sans KR', -apple-system, BlinkMacSystemFont,
    system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

:root {
  --main-bgcolor: #4f503e;
  --sub-bgcolor: #d8d4c9;
}
