/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 배경/폰트 설정 */
body {
  font-family: 'Outfit', 'Noto Sans KR', -apple-system, BlinkMacSystemFont,
    system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

/* 공통 CSS용 클래스 */

:root {
  --main-color: #4f503e;
  --sub-color: #d8d4c9;
  --hover-color: #e9e5d8;
}

.section_title {
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 35px;
}

.section_pd {
  padding: 80px 120px;
}

